<div class="taskDetail-Container">
  <div fxLayout="row" fxLayoutAlign="start start">
    <h2 fxFlex="100">Ongoing</h2>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start">
  <h2 fxFlex="100">Ongoing</h2>
</div>
<div fxLayout="row" fxLayoutAlign="start start">
<h2 fxFlex="100">Ongoing</h2>
</div>
<div fxLayout="row" fxLayoutAlign="start start">
<h2 fxFlex="100">Ongoing</h2>
</div>
<div fxLayout="row" fxLayoutAlign="start start">
<h2 fxFlex="100">Ongoing</h2>
</div>

<div fxLayout="row" fxLayoutAlign="start start">
<h2 fxFlex="100">Ongoing</h2>
</div>


</div>
